<p>
  The "Merge History" button will <i>visually</i> hide items below the selected item.
  It will not delete them from the database.
  This is useful when a value has a lot of older items.
  It will skip loading these hidden items from the database, so it can improve the performance of this page as well.
</p>
