{% if 5 is eq(5) %}eq{% endif %}
{% if 5 is ne(3) %}ne{% endif %}
{% if 3 is lt(5) %}lt{% endif %}
{% if 5 is gt(3) %}gt{% endif %}
{% if 5 is le(5) %}le{% endif %}
{% if 5 is ge(5) %}ge{% endif %}
{% if 2 is in([1, 2, 3]) %}in{% endif %}
