{% if lower_name is lower %}lower{% endif %}
{% if "UPPER" is upper %}upper{% endif %}
{% if "hello" is startswith("hel") %}startswith{% endif %}
{% if "world" is endswith("rld") %}endswith{% endif %}
