<div>
  <img src="{{ image_url }}" alt="{{ alt_text }}">
  <br>
  <input type="text" value="{{ default_value }}">
  <hr>
  {% if show_meta %}
    <meta name="description" content="{{ description }}">
  {% endif %}
</div>
