<div>
  <pre>
    {% if show_code %}
    def hello():
        print("Hello")
    {% endif %}
  </pre>
  <code>{{ inline_code }}</code>
  <script>
    var x = {{ json_value }};
    {% if debug %}
    console.log(x);
    {% endif %}
  </script>
</div>
