{% extends "base.j2" %}

{% import "macros.j2" as m %}

{% from "helpers.j2" import helper1, helper2 as h2 %}

{% include "header.j2" %}

{% include "optional.j2" ignore missing %}

{% include "partial.j2" %}

{% block main %}
  {{ m.some_macro() }}
  {{ helper1() }}
  {{ h2() }}
{% endblock %}
